.homeContainer {
    height: 600px;
    width: 340px;
    background-color: rgb(0 0 0 / 70%);
    overflow: hidden;
    box-shadow: inset -20px 350px 0px -44px rgb(0 0 0 / 50%);
    -webkit-box-shadow: inset -20px 350px 0px -44px rgb(0 0 0 / 50%);
    -moz-box-shadow: inset -20px 350px 0px -44px rgb(0 0 0 / 50%);
}

.home {
    height: 410px;
    margin-top: 130px !important;
    margin: 60px;
    align-items: center;
    flex-direction: column;
}

.title {
    display: flex;
    height: 125px;
    justify-content: center;
    font-weight: 700;
}

.to {
    display: flex;
    align-items: center;
    font-size: 140px;
}

.doList {
    display: grid;
    font-size: 50px;
    text-align: initial;
}

.buttons {
    margin-top: 50px;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: rgb(33 29 37) transparent transparent transparent;
}

.enter {
    width: 200px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.102);
    color: white;
    font-size: 17px;
    margin-top: 30px;
    border: 4px solid;
    border-image-source: linear-gradient(to right, #6beacc 0%, #6755f1 100%);
    border-image-slice: 5;
    cursor: pointer;
}

.enter:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.enter:active {
    background-color: rgba(0, 0, 0, 0.25);
}

.contacts {
    margin-top: 15px;
}

.contacts img {
    height: 40px;
    cursor: pointer;

}

.linkedin {
    margin-right: 20px;
}

.gmail {
    margin-left: 20px;
}

.github {
    background-color: rgb(255 255 255 / 10%);
    border-radius: 10px;
}

.developed {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    font-style: oblique;
    color: rgb(255 255 255 / 75%);
}

.assis {
    font-weight: 600;
    font-style: initial;
}